<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#ffffff" />

    <link rel="preload" href="/assets/profile.webp" as="image" type="image/webp">

    <title>차한음 블로그</title>
    <meta name="description" content="개발자 차한음 블로그">
    <meta name="author" content="차한음">
    <link rel="canonical" href="https://chebread.github.io/">
    <link rel="alternate" type="application/rss+xml" title="차한음 블로그" href="{{if .IsProduction}}https://chebread.github.io/rss.xml{{else}}/rss.xml{{end}}" />
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">

    <meta property="og:title" content="차한음 블로그">
    <meta property="og:description" content="개발자 차한음 블로그">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://chebread.github.io/">
    <meta property="og:site_name" content="차한음 블로그">
    <meta property="og:image" content="{{if .IsProduction}}https://chebread.github.io/assets/profile.png{{else}}/assets/profile.png{{end}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="차한음 블로그">
    <meta name="twitter:description" content="개발자 차한음 블로그">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "차한음 블로그",
        "author": {
            "@type": "Person",
            "name": "차한음"
        },
        "publisher": {
            "@type": "Organization",
            "name": "차한음",
        },
        "description": "개발자 차한음 블로그"
    }
    </script>

    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">
    <link rel="stylesheet" href="/styles/chroma.css">

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/github-markdown.css">

    <link rel="icon" href="/favicons/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
</head>
<body>
    <div class="root">
        <div class="home">
            <nav class="home-nav">
                <a href="/" class="{{if eq .CurrentURL "/"}}active{{end}}">
                    <span>홈</span>
                </a>
                <a href="/about{{if not .IsProduction}}.html{{end}}" class="{{if eq .CurrentURL "/about"}}active{{end}}">
                    <span>어바웃</span>
                </a>
                <a href="/posts{{if not .IsProduction}}.html{{end}}" class="{{if eq .CurrentURL "/posts"}}active{{end}}">
                    <span>포스트</span>
                </a>
            </nav>

            <header class="home-header">
                <div class="home-hero">
                    <h1>차한음 블로그</h1>
                </div>
            </header>

            <main class="home-content">
                <article class="markdown-body">
                    {{- .Content -}}
                </article>
            </main>
            <footer class="home-footer">
                <section>
                    <p>&copy; 2025-2026 Cha Haneum</p>
                </section>
                <section>
                    <a href="https://github.com/chebread">
                        <span>깃허브</span>
                    </a>
                    <a href="mailto:chahaneum@chebread.com">
                        <span>이메일</span>
                    </a>
                    <a href="/rss.xml">
                        <span>RSS</span>
                    </a>
                </section>
            </footer>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>
